In [1]:
import os
os.chdir("/work/pi_hzhang2_umass_edu/jnainani_umass_edu/diffusion_policy_interp/")
import pandas as pd

In [7]:
f1198 = pd.read_csv("sae_analysis/out/f1198_stats.csv")
f1198.iloc[[0, 1, 2, 20, 22], 1:].head()

,seed,step_idx,timestep,activation,theta_tc_deg,theta_c_deg,d_tc,ClosestK,Delta_theta_act,Delta_dist_act,d_act_curr,d_act_target
0,84100.0,136.0,9.0,5.99,-17.4,27.6,5.44,2.0,-172.0,25.0,19.7,22.9
1,84100.0,136.0,7.0,5.68,-17.4,27.6,5.44,2.0,-114.0,27.4,20.7,24.1
2,84100.0,136.0,12.0,5.65,-17.4,27.6,5.44,2.0,-185.0,23.3,20.7,23.8
20,30600.0,56.0,21.0,1.08,-24.6,20.4,7.80,2.0,195.0,41.9,23.4,26.0
22,30600.0,56.0,62.0,1.04,-24.6,20.4,7.80,2.0,-108.0,39.1,41.5,42.9

In [ ]:
f1198 = pd.read_csv("sae_analysis/out/f1198_stats.csv")
f1198.head()